@tailwind base;
@tailwind components;
@tailwind utilities;

/* ---------- Brand Theme ---------- */

:root {
  --color-bg: #111315;
  --color-surface: #1b1d20;
  --color-text: #f8f8f6;
  --color-muted: #9ca3af;
  --color-accent: #d6c6a5;
}



body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: Inter, sans-serif;
}

::selection {
  background: #d6c6a5;
  color: #111315;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.25s ease;
}